body{
    background: #E8F5E9;
}
.container{
    margin-left: 300px;
    margin-top: 90px;
    background: #FFFFFF;
    width: 900px;
    height: 600px;
    border-radius: 20px;
}
h1{
    font-family: 'Itim';
    text-align: center;
}
button{
    font-family: 'Itim';
    background: #FFFFFF;
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
    width: 120px;
    height: 30px;
    margin-left: 400px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.text{
    margin-left: 80px;
    font-family: 'Itim';
    font-size: larger;
    width: 50px;
    height: 30px;
    font-size: 32px;
}
.circle{
    line-height: 20px;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    background-color: #000000;
    padding-top: 20px;
}
#C1{
    background: rgba(92, 106, 226, 1);
}
#C2{
    background: rgba(88, 210, 181, 1);
}
#C3{
    background: rgba(194, 62, 149, 1);
}
#C4{
    background: rgba(209, 106, 125, 1);
}
#C5{
    background: rgba(209, 78, 78, 1);
}
#C6{
    background: rgba(180, 92, 194, 1);
}
#C7{
    background: rgba(95, 115, 144, 1);
}
#C8{
    background: rgba(84, 113, 188, 1);
}
#C9{
    background: rgba(47, 161, 210, 1);
}
#C10{
    background: rgba(128, 205, 67, 1);
}
#C11{
    background: rgba(236, 223, 103, 1);
}
#C12{
    background: rgba(117, 97, 97, 1);
}
